body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.header1 {
    background-color: #20a820;
    color: #fff;
    padding: 15px;
    left: 120px;
}

.headergrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.headergrid h2 {
    position: relative;
    left: 80px;
}

.logo {
    width: 80px;
    top: 10px;
    position: absolute;
}

.nav1 {
    background: linear-gradient(#c4c4c4, transparent);
    padding: 10px;
    width: 200px;
    height: 100%;
    position: absolute;
    top: 75.5px;
    box-shadow: inset -10px 10px 10px rgba(0, 0, 0, 0.123);
    left: 0;
    overflow-y: auto;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    margin-bottom: 10px;
}

nav a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 8px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #555;
}

section {
    margin-left: 220px;
    padding: 20px;
}

.card {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: relative;
    margin-bottom: 20px;
    border-radius: 5px;
}



.deletebtn {
    position: absolute;
    right: 0;
    margin-right: 10px;
    background-color: #f00;
    color: white;
    top: 15px;
    cursor: pointer;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.164);
}

.deletebtn:hover {
    background-color: #d00;
}

.detailbtn {
    position: absolute;
    right: 0;
    margin-right: 10px;
    background-color: rgb(0, 153, 255);
    color: white;
    transform: translate(0%, -50%);
    top: 50%;
    cursor: pointer;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.164);
}

.detailbtn:hover {
    background-color: rgb(2, 117, 194);
}

.editbtn {
    position: absolute;
    right: 40px;
    margin-right: 10px;
    background-color: rgb(0, 138, 0);
    color: white;
    cursor: pointer;
    padding: 5px 10px;
    top: 15px;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.164);
}

.editbtn:hover {
    background-color: darkgreen;
}
.editbtn-position-realtive {
    position: relative;
    background-color: rgb(0, 138, 0);
    color: white;
    text-align: center;
    cursor: pointer;
    padding: 5px 10px;
    top: 15px;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.164);
}

.editbtn-position-realtive:hover {
    background-color: darkgreen;
}
.removebtn-position-realtive {
    position: relative;
    background-color: rgb(138, 0, 0);
    color: white;
    cursor: pointer;
    text-align: center;
    padding: 5px 10px;
    top: 15px;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.164);
}

.removebtn-position-realtive:hover {
    background-color: rgb(100, 0, 0);
}
.diterimabtn {
    position: absolute;
    right: 0px;
    margin-right: 10px;
    background-color: rgb(0, 138, 0);
    color: white;
    cursor: pointer;
    padding: 5px 10px;
    transform: translate(-0%, -50%);
    top: 50%;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.164);
}

.diterimabtn:hover {
    background-color: darkgreen;
}
.ditolakbtn {
    position: absolute;
    right: 0px;
    margin-right: 10px;
    background-color: rgb(138, 0, 0);
    color: white;
    cursor: pointer;
    padding: 5px 10px;
    transform: translate(-0%, -50%);
    top: 50%;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.164);
}

.ditolakbtn:hover {
    background-color: rgb(100, 0, 0);
}

#btn-diterima{
    display: none;
}

#btn-ditolak{
    display: none;
}

#btn-detail{
    display: block;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.profile-info {
    position: relative;
    top: -0px;
    flex-grow: 1;
}

.profile-info h2 {
    margin-bottom: 5px;
}

.profile-info p {
    color: #777;
    position: relative;
    top: -5px;
    /* Set margin to 0 */
}

.profile-dashboard {
    display: inline-block;
    position: relative;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    border-radius: 5px;
}

.profile-dashboard img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-right: 20px;
}

.profile-info-dashboard {
    position: relative;
    top: -0px;
    text-align: center;
}

.profile-info-dashboard h2 {
    margin-bottom: 5px;
}

.profile-info-dashboard p {
    color: #777;
    position: relative;
    top: -5px;
    /* Set margin to 0 */
}

.logout-btn {
    background-color: #f00;
    color: #fff;
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.logout-btn:hover {
    background-color: #d00;
}

.addbtn {
    background-color: rgb(0, 202, 0);
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    float: right;
    border: none;
}

.addbtn:hover {
    background-color: rgb(0, 138, 0);
}

.gridclass {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
}

a {
    text-decoration: none;
}

.gridclass .card {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 5px;
    color: black;
    cursor: pointer;
    text-align: center;
    margin-bottom: 20px;
    transition: 0.4s all;
    border-radius: 5px;
}

.gridclass .card:hover {
    background-color: rgb(209, 209, 209);
}

.gridclass .card h1 {
    font-size: 70px;
    padding: 0px;
    margin: 0px;
}

.gridclass .card h2 {
    padding: 0px;
    margin: 0px;
    position: relative;
    top: -10px;
    margin-bottom: 20px;
}

.usersettings {
    width: 100%;
    position: relative;
}

#save {
    display: none;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.buttonadd {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 55px;
    font-size: 15px;
    font-weight: bold;
    height: 55px;
    border: 0px;
    border-radius: 5px;
    margin: 20px;
    background-color: #20a820;
    padding: 10px;
    transition: 0.3s all;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.192);
}

.buttonadd:hover {
    background: #177c17;
}

.close {
    background: white;
    border-radius: 5px;
    position: absolute;
    top: 20px;
    border: 1px solid;
    padding: 5px;
    background-color: #20a820;
    border: 0px;
}

#formadd {
    position: fixed;
    display: none;
    width: 800px;
    height: auto;
    padding: 10px;
    overflow-y: hidden;
    bottom: -1000px;
    scroll-behavior: smooth;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.253);
    background: rgba(255, 255, 255, 0.24);
    backdrop-filter: blur(10px);
    transform: translate(-50%, -0%);
    left: 50%;
    transition: 1s all;
}

#formadd2 {
    position: fixed;
    display: block;
    width: 800px;
    overflow: hidden;
    height: auto;
    padding: 10px;
    overflow-y: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: rgba(255, 255, 255, 0.24);
    backdrop-filter: blur(10px);
    transform: translate(-50%, -0%);
    left: 50%;
    transition: 1s all;
}

#formadd a {
    background-color: #20a820;
    border-radius: 5px;
    border: none;
    outline: 0;
    right: 0px;
    padding: 5px 10px;
    color: black;
}

.formadd-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 10px;
}

#formadd h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#formadd label {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    position: relative;
}

#formadd input {
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 5px 0px;
    background-color: transparent;
    width: 100%;
    outline: 0;
}

#formadd input[type=text] {
    width: 100%;
    border: none;
    border-bottom: 1px solid;
}

#formadd .date {
    border: none;
    border-bottom: 1px solid;
}

#formadd .files {
    padding: 20px;
    width: auto;
    border: 1px dotted black;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#formadd input[type=submit] {
    background-color: #20a820;
    border-radius: 5px;
    border: none;
    outline: 0;
    padding: 10px 0px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.219);
}

#formbtn {
    position: absolute;
    margin: 10px;
    right: 10px;
}

#detailtamu{
    background-color: rgba(128, 128, 128, 0.164);
    padding: 10px;
    width: 100%;
}
#detailtamu .form-label {
    margin: 0px;
    padding: 0px;
}

.grid-galeri{
    display: grid;
    width: 100%;
    position: relative;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
}